body{
    background-color: rgba(206, 4, 4, 0.664);
}
table{
    border: solid 2px #0e0303;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(0, 2%, 28%);
    width: 60vw; height: 98vh;
    margin: auto;
    background-image: url(./img/time.png);
    background-repeat: no-repeat;
    background-position: 50%;   
    background-color: white;
    background-size: 60%;
    color: rgb(139, 139, 139);
}
td{
    border:solid 1px #DDDDDD;
    border-right:hidden  ; border-left: hidden;
    border-collapse: collapse ;
    text-align: center;
    width: 6.45%;
    height: 4.5%;
}
tr{
    border:solid 1px #DDDDDD;
    border-collapse: collapse
}
th{
    width: 7%;
    text-align: center;
    font-size: 1.3em;
    border: inherit;
    border-collapse: collapse;
    border-right: hidden;
}
tfoot{
    height: 7%;
}
.gray{
    background-color: #c8c6c6d5;
    color: black;
}
.time{
    width: 35%;
    text-align: left;
    font-weight: 700;
    font-size: 1em;
    padding: 5px;
    border: solid 1px #DDDDDD;
    border-collapse: collapse;
    color: rgb(105, 103, 103);
}
.square{
    width: 1vw; height: 1vw;
    border: hidden 1px;
    border-radius: 6px;
    margin: auto;
    display: inline-block;
    
    
}
.tbb{
    border-bottom: solid 2px #474646;
}
.orange{
    color: #de9800;
}
.grayNumber{
    color: #cccccc;
}
.red{
    color: #c91b04;
}
.lastcolumn{
    border-right: solid 1px #dddddd;
}
.bgblue{
    background-color: blue;
}
.bggold{
    background-color: gold;
}
.bgred{
    background-color: red;
}
.bglightblue{
    background-color: rgb(112, 162, 179);
}
#n1{
    color: #003366;
}
#n2{
    color: #003366;
}
#n3{
    color: #003366
}
#n4{
    color: #1398be
}
#firstcolumn{
    border-left: solid 2px #0e0303;
}
#ftrow1{
    height: 50%;
}